* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.mb-2 {
  margin-bottom: 2rem;
}
.border-left-2 {
  border-left: 2px solid white;
}
.h-screen {
  height: 100vh !important;
}
.h-full {
  height: 100% !important;
}
.w-halfP {
  width: 50%;
}

.h-halfP {
  height: 50%;
}

li {
  list-style: none;
}
.container-fluid {
  width: 90%;
  margin: 0 auto;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  display: block;
  padding: 15px 5px;
}

.w-half {
  width: 50%;
}
.ml-3 {
  margin-left: 3.6rem;
}
.me-auto {
  margin-right: 0 auto;
}
.w-full {
  width: 100%;
}

.p-0 {
  padding: 0px;
}

.px-4 {
  padding: 0px 4rem;
}

.py-2 {
  padding: 2rem 0px;
}
.py-4 {
  padding: 4rem 0px;
}

.pl-1 {
  padding-left: 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}

.gapY-1 {
  gap: 1rem 0px;
}

.gapY-1\5 {
  gap: 2rem 0px;
}

.gapY-2 {
  gap: 2rem 0px;
}
.gapY-3 {
  gap: 3rem 0px;
}
.gapX-1\5 {
  gap: 0px 2rem;
}

.gapX-1 {
  gap: 0px 1.5rem;
}

.gapX-3 {
  gap: 0px 3rem;
}
.gapX-4 {
  gap: 0px 4rem;
}
.gapY-4 {
  gap: 4rem 0px;
}

.mx-auto {
  margin: 0 auto;
}

.gapX-2 {
  gap: 0px 2rem;
}

.gapY-2 {
  gap: 2rem 0px;
}
.flex-wrap {
  flex-wrap: wrap;
}

.gapY-4 {
  gap: 4rem 0px;
}

.overflow-hidden {
  overflow: hidden;
}
.text-black {
  color: black;
}

.bg-red {
  background: red;
}

.bg-img-hero {
  background-image: url("../assets/images/hero-image.jpg");
  /* background-size: contain; */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 500px; */
  height: 100vh;
  width: 100%;
}

.bg-skyblue {
  background: skyblue;
}
.bg-blue {
  background: #0463fa;
}
.bg-teal {
  background: teal;
}
.bg-yellow {
  background-color: yellow;
}

.bg-purple {
  background: purple;
}

.text-white {
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.container-fluid {
  width: 90%;
  margin: 0 auto;
}

.border-0 {
  border: none;
}

.border-radius-4 {
  border-radius: 4px;
}

button {
  padding: 20px 45px;
}

.navbarBtn {
  padding: 20px 46px;
}

.inline-block {
  display: inline-block;
}

/* ======================================== */
.bg-hero {
  background: #0463fa;
}

.bg-hero .w-half {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}
.hide {
  display: none;
}

.collapse {
  display: none;
}

.fsz-2rem {
  font-size: 2rem;
}
.fsz-5rem {
  font-size: 5rem;
}

/* for mobile screens */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .upperNav {
    display: none;
  }

  .main-nav {
    display: none;
    position: relative;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  /* show the hamburger menu on small screens  */
  .hide {
    display: block;
  }
  .hide > button {
    border: none;
    padding: 0.6rem;
    border: 2px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
  }
  a {
    display: inline-block !important;
  }
  .d-none {
    display: none;
  }

  .mobile-section {
    background: #1b63fb;
    width: 100% !important;
    height: 500px;
  }

  .hero-mobile .mobile-bg {
    background-image: url("../assets/images/hero-image.jpg");
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;

    width: 100%;
  }
  .mobile-bg-color {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0463fa;
  }
  .mobile-hide {
    display: none !important;
  }

  .collapse {
    width: 100px;
    padding: 1rem;
    background: red;
    display: block !important;
  }
  #myElement {
    position: absolute;
    width: 80%;
    background: #0463fa;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  #myElement div li a {
    color: white;
    padding: 15px 0px;
  }
}
